@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  padding : 0;
  box-sizing: border-box;
}

@import "tailwindcss";


:root {
  /* --primary: oklch(0.492 0.244 283.851); */
  --primary : #e65447;
  --primary-foreground: oklch(1 0 0);
}

.dark {
  /* --primary: oklch(0.65 0.2 283.851); */
  --primary : #c45349 ;
  --primary-foreground: oklch(0.13 0.01 283);
}
/* @theme inline {
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-accent: var(--accent);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
} */

